.productcard-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 29%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* .productcard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    z-index: 0px;
} */

.productcard-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}

.productcard-content {
    margin-top: 12px;
}

.productcard-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
}

.productcard-prices {
    font-size: 14px;
    color: #ff0000;
    margin: 0 0 12px;
    font-weight: bolder;
}

.productcard-link {
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.productcard-link:hover {
    text-decoration: underline;
}

.btn-Buy {
    background-color: #FFC107;
    padding: 0px 12px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
}

.btn-Buy h2 {
    display: inline-block;
    margin-right: 15px;
}

.btn-Buy:hover {
    color: black;
}
@media (max-width: 768px)  {
    .productcard-card {
        width: 100%;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 992px)  {
    .productcard-card {
        width: 40%;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 1168px)  {
    .productcard-card {
        width: 27%;
        margin-bottom: 20px;
    }
}
    

@media (max-width: 768px) {

    .productcard-card {
        
        width: 20%;
       
    }
  
}